.hero-container {
    position: relative;
    width: 100%;
    padding: 32px 0px;
    border-radius: 24px;
    overflow: hidden;
}

.neighborhood-img {
    width: 100%;
    max-height: 560px;
    object-fit: cover;
    border-radius: 24px;
}

.text-overlay {
    color: #FAFAFA;
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
    letter-spacing: 3px;
    font-size: 48px;
    line-height: 56px;
    font-family: Outfit, sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 886px;
    position: absolute;
    top: 140.5px;
    left: 517px;
}

.text-overlay strong {
    font-weight: 700;
}

.text-overlay .next-line {
    display: inline-block;
}

.text-overlay .dot {
    color: #ff385c;
    font-weight: bold;
    font-weight: 700;
    font-size: 96px;
    font-style: normal;
    font-family: Outfit, sans-serif;
}

.search-bar-container {
    width: 886px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dededf;
    border-radius: 8px;
    padding: 8px 0 8px;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-input {
    height: 32px;
    width: 790px;
    border: none;
}

.search-input:focus {
    outline: none;
    border: none;
}

.search-icon {
    background-color: #ff385c;
    border-radius: 8px;
    padding: 16px;
}

