.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: 600;

    color: #000;
}

#new-listings {
    padding: 40px 288px;
}

p, h3, h4, h1 {
    font-family: 'Outfit', sans-serif;
}
