<div id="properties-container">
    <div class="property-card" id="template-card">
        <img src="/assets/img/room.png" alt="Property Image">
        <div class="property-info">
            <p>Clementi | Condominium</p>
            <h4>The Menti</h4>
            <h3>S$1,600,000.00</h3>
            <div class="icons-container">
                <div class="icon"><img src="/assets/icons/bed.svg" alt="Bed Icon"><span>3</span></div>
                <div class="icon"><img src="/assets/icons/bath.svg" alt="Bath Icon"><span>2</span></div>
                <div class="icon"><img src="/assets/icons/ruler.svg" alt="Ruler Icon"><span>1,119 sqft</span></div>
            </div>
        </div>
    </div>

</div>
<div class="button-container">
    <button id="view-listings-btn">
        View Listings
        <span id="arrow">
    <img src="/assets/icons/arrow.svg" alt="Arrow" id="arrow-img">
</span>

    </button>
</div>

