
<div id="properties-container">
    <div class="property-card" id="template-card">
        <img src="/src/img/room.png" alt="Property Image">
        <div class="property-info">
            <p>Clementi | Condominium</p>
            <h4>The Menti</h4>
            <h3>S$1,600,000.00</h3>
            <div class="icons-container">
                <div class="icon"><img src="/src/icons/bed.svg" alt="Bed Icon"><span>3</span></div>
                <div class="icon"><img src="/src/icons/bath.svg" alt="Bath Icon"><span>2</span></div>
                <div class="icon"><img src="/src/icons/ruler.svg" alt="Ruler Icon"><span>1,119 sqft</span></div>
            </div>
        </div>
    </div>
</div>
