
<!--<h2>New Listings</h2>-->
<!--<div class="property-card">-->
<!--    <img src="/src/img/room.png"/>-->
<!--    <div class="property-info">-->
<!--        <p>Clementi | Condominium</p>-->
<!--        <h4>The Menti</h4>-->
<!--        <h3>S$1,600,000.00</h3>-->
<!--        <div class="icons-container">-->
<!--            <div class="bed icon"><img alt="Image" src="/src/img/bed.svg">-->
<!--                <span>3</span></div>-->
<!--            <div class="bath icon"><img alt="Image" src="/src/img/bath.svg">-->
<!--                <span>2</span></div>-->
<!--            <div class="ruler icon"><img alt="Image" src="/src/img/ruler.svg">-->
<!--                <span>1,119 sqft</span></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script src="new-listings.js"></script>-->
<div id="cards-container"></div>
